@import "../abstracts/variables";

html {
  font-size: 62.5%;
}

.font {
  &-medium {
    font-weight: $font-medium!important;
  }

  &-semiBold {
    font-weight: $font-semiBold!important;
  }

  &-bold {
    font-weight: $font-bold!important;
  }
}

.title {
  color: $color-black;
  font-weight: $font-bold;
  font-size: 2.4rem;
}
