@import "../abstracts/variables";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
  color: $color-white;
  background-color: $color-primary;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: $font-medium;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &-circle {
    border-radius: 3.2rem;
  }
}
