// colors
$color-primary: #b0cc0d;
$color-secondary: #ffa800;
$color-red: #ea1d25;
$color-grey: #f4f4f4;
$color-white: #fff;
$color-black: #000;
$color-tail: #212b36;

// font
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;
